<div class="row">
    <div class="col-md-6" id="article">
            <div class="card" style="width: 100%;">
                {{#if article.image}}
                    <img class="image-box" src="{{article.image}}">
                {{/if}}
                {{#if article.video}}
                    <iframe class="video-box"  src="{{article.video}}"></iframe>
                {{/if}}
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">{{article.title}}</p>
                    <a href="{{article.link}}" target="_blank" class="btn btn-warning inline-btn">Original Article</a>
                </div>
            </div>
    </div>

    <div class="comments col-md-5">
        <div class="card comments-card">  
        {{#each article.comment}}
            <div class="card" style="background-color: rgb(236, 236, 236)">
                <div class="comment-body">  
                    <p class="text-center" style="padding: 10px; margin-bottom: 2px">{{this}}</p>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-danger delete-comment" data-comment="{{this}}" data-id="{{@index}}">Delete Comment</button>
            </div>
            <hr>
        {{/each}}
        
            <form>
                <div class="form-group">
                    <div class="card-body">
                        <label for="comment-input">Add a comment</label>
                        <input id="comment-input" class="form-control" type="text">
                    </div>
                    <button id="push-comment" class="btn btn-primary float-right" data-id="{{article._id}}">Add Comment</button>
                </div>
            </form>
        </div>
    </div>
</div>