<div id="wrapper">
    <img style="display: inline-block; height: 60px; margin-left: 10px; margin-bottom: 20px" src="https://freepngimg.com/thumb/tree/22566-1-tree-top-file.png"></img> 
    <h1 class="main-text" style="margin-left: 5px; display: inline-block; color: #136e28;">CycaScrape</h1>
    <h3 class="main-text" style="margin-left: 10px;"><i>The best info on the best plants</i></h3>
    <button class="btn btn-success" id="scrape-open" onclick="location.href=window.location.href + 'scrape/openculture';">Scrape Plantnet</button>
    <button class="btn btn-secondary disabled" id="scrape-science" onclick="#">Scrape ScienceNews</button>
    <div id="articles">
        {{#each articles}}
            <div class="card" style="width: 18rem;">
                {{#if this.image}}
                    <img  src="{{this.image}}" style="width: 100%; height: auto">
                {{/if}}
                {{#if this.video}}
                    <iframe class="video-box"  src="{{this.video}}"></iframe>
                {{/if}}
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">{{this.title}}</p>
                    <a href="articles/{{this._id}}" class="btn btn-info inline-btn">View Article</a>
                    <a href="{{this.link}}" target="_blank" class="btn btn-warning inline-btn">Original</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>